body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#asciiArt {
    font-size: 24px;
    white-space: pre;
}

#changeButton {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#changeButton:hover {
    background-color: #555;
}
